.primary_button {
    padding: 18px 10px;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}

.outlined_button {
    padding: 18px 10px;
    border: 1px solid red;
    background-color: white;
    color: red;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
    width: 460px;
    margin-bottom: 33px;
}